# Part 2 - Implementation

In [1]:
import pandas as  pd
import numpy as np

from sklearn.model_selection import train_test_split as TTS2
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
mov_df = pd.read_csv('movie_genres.csv').drop("Unnamed: 0",axis=1)
mov_df['movie_id']= pd.factorize(mov_df['movie_title'])[0]

rev_df = pd.read_csv('user_reviews.csv')
rev_df['user_id']= pd.factorize(rev_df['User'])[0]

df_melt = rev_df.melt(id_vars=['user_id','User'], value_vars=rev_df.columns.difference(['User','user_id']))
df_melt.rename(columns = {'variable':'movie_title'}, inplace=True)

df_merge = pd.merge(df_melt, mov_df, on='movie_title')#.drop('movie_title',axis=1)
df_merge.insert(1, 'movie_id', df_merge.pop('movie_id'))

In [3]:
print(df_merge)

         user_id  movie_id     User  movie_title  value  genre_action  \
0              0       440  Vincent  10th & Wolf    0.0             0
1              1       440    Edgar  10th & Wolf    0.0             0
2              2       440  Addilyn  10th & Wolf    0.0             0
3              3       440   Marlee  10th & Wolf    0.0             0
4              4       440   Javier  10th & Wolf    0.0             0
...          ...       ...      ...          ...    ...           ...
1199995      595      1922  Mariana     Æon Flux    0.0             1
1199996      596      1922      Ivy     Æon Flux    0.0             1
1199997      597      1922    Kevin     Æon Flux    0.0             1
1199998      598      1922     Nora     Æon Flux    0.0             1
1199999      599      1922    Sarai     Æon Flux    0.0             1

         genre_adventure  genre_animation  genre_biography  genre_comedy  ...  \
0                      0                0                0             0  ...
1                      0                0                0             0  ...
2                      0                0                0             0  ...
3                      0                0                0             0  ...
4                      0                0                0             0  ...
...                  ...              ...              ...           ...  ...
1199995                0                0                0             0  ...
1199996                0                0                0             0  ...
1199997                0                0                0             0  ...
1199998                0                0                0             0  ...
1199999                0                0                0             0  ...

         genre_mystery  genre_news  genre_reality-tv  genre_romance  \
0                    0           0                 0              0
1                    0           0                 0              0
2                    0           0                 0              0
3                    0           0                 0              0
4                    0           0                 0              0
...                ...         ...               ...            ...
1199995              0           0                 0              0
1199996              0           0                 0              0
1199997              0           0                 0              0
1199998              0           0                 0              0
1199999              0           0                 0              0

         genre_sci-fi  genre_short  genre_sport  genre_thriller  genre_war  \
0                   0            0            0               1          0
1                   0            0            0               1          0
2                   0            0            0               1          0
3                   0            0            0               1          0
4                   0            0            0               1          0
...               ...          ...          ...             ...        ...
1199995             1            0            0               0          0
1199996             1            0            0               0          0
1199997             1            0            0               0          0
1199998             1            0            0               0          0
1199999             1            0            0               0          0

         genre_western
0                    0
1                    0
2                    0
3                    0
4                    0
...                ...
1199995              0
1199996              0
1199997              0
1199998              0
1199999              0

[1200000 rows x 30 columns]

In [4]:
##Find unique movies
df_merge['movie_id'].nunique()

2000

In [5]:
##Number of reviews
##top movies 20, lowest 1.

df_merge.loc[df_merge['value']>0]['movie_id'].value_counts()

143     20
1894    20
1178    20
1944    19
1666    19
        ..
1304     1
958      1
774      1
604      1
388      1
Name: movie_id, Length: 2000, dtype: int64

In [6]:
#Dataframe with number of reviews
rev_count= pd.DataFrame(df_merge.loc[df_merge['value']>0]['movie_id'].value_counts())

#Find the movies with less than 5 reviews
rare_movies = rev_count[rev_count['movie_id'] < 2].index

#Get the movies with 10 or more reviews
common_movies = df_merge[~df_merge['movie_id'].isin(rare_movies)]

common_movies_rated = common_movies.loc[common_movies['value']>0]

common_movies.shape

(1195200, 30)

In [13]:
df_merge

,user_id,movie_id,User,movie_title,value,genre_action,genre_adventure,genre_animation,genre_biography,genre_comedy,...,genre_mystery,genre_news,genre_reality-tv,genre_romance,genre_sci-fi,genre_short,genre_sport,genre_thriller,genre_war,genre_western
0,0,440,Vincent,10th & Wolf,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,440,Edgar,10th & Wolf,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,2,440,Addilyn,10th & Wolf,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,440,Marlee,10th & Wolf,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,440,Javier,10th & Wolf,0.0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1199995,595,1922,Mariana,Æon Flux,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1199996,596,1922,Ivy,Æon Flux,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1199997,597,1922,Kevin,Æon Flux,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1199998,598,1922,Nora,Æon Flux,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1199999,599,1922,Sarai,Æon Flux,0.0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [7]:
# Unique movies with more than 1000 reviews:
common_movies['movie_id'].nunique()

1992

In [8]:
#Create pivot tables with user scores
user_movie_df = common_movies.pivot_table(index=['user_id'], columns=['movie_id'], values='value')

user_movie_df.replace(0, np.nan, inplace=True)

user_movie_df.shape

(600, 1992)

In [9]:
def get_row(df, user_id, movie_id):
    for i in movie_id:
        print(df[(df['user_id'] == user_id) & (df['movie_id'] == i)])
    return

In [10]:
for i in range(5):
    #Get user info
    random_user_df = user_movie_df[user_movie_df.index == i]
    
    #Get all movies that the user watched
    movies_watched = random_user_df.columns[random_user_df.notna().any()].tolist()
    
    #Select movies in pivot
    movies_watched_df= user_movie_df[movies_watched]

    ## Get numberof movies
    user_movie_count = movies_watched_df.T.notnull().sum().reset_index()
    user_movie_count.columns = ['user_id', 'movie_count']

    #People who have watched more than 50% movies together with user i:
    users_same_movies = user_movie_count[user_movie_count['movie_count']>(0.05*len(movies_watched))]['user_id']
    
    #Combine the data of user i and all similar users
    final_df = pd.concat([movies_watched_df[movies_watched_df.index.isin(users_same_movies)],random_user_df[movies_watched]])

    corr_df = final_df.T.corr().unstack().sort_values().drop_duplicates()
    corr_df = pd.DataFrame(corr_df, columns=["corr"])
    corr_df.index.names = ['user_id_1', 'user_id_2']
    corr_df = corr_df.reset_index()

    top_users = corr_df[(corr_df["user_id_1"] == i) & (corr_df["corr"] >= 0)][
    ["user_id_2", "corr"]].reset_index(drop=True)
    
    print("similar users:"+str(len(top_users)))

    top_users = top_users.sort_values(by='corr', ascending=False)
    top_users.rename(columns={"user_id_2": "user_id"}, inplace=True)

    top_users_ratings = top_users.merge(common_movies_rated[["user_id", "movie_id", "value"]], how='inner')



    top_users_ratings = top_users_ratings[top_users_ratings["user_id"] != i]
    
    top_users_ratings['weighted_rating'] = top_users_ratings['corr'] * top_users_ratings['value']
    top_users_ratings.groupby('movie_id').agg({"weighted_rating": "mean"})

    recommendation_df = top_users_ratings.groupby('movie_id').agg({"weighted_rating": "mean"})
    recommendation_df = recommendation_df.reset_index().sort_values("weighted_rating", ascending=False)

    get_row(df_merge.iloc[:, : 5],i,recommendation_df['movie_id'].head(7))
    
    print(recommendation_df.head(7))

similar users:3
        user_id  movie_id     User movie_title  value
585600        0      1850  Vincent     Minions    0.0
        user_id  movie_id     User               movie_title  value
612000        0      1644  Vincent  My Best Friend's Wedding    0.0
         user_id  movie_id     User movie_title  value
1174200        0      1759  Vincent   Wild Card    0.0
        user_id  movie_id     User movie_title  value
784200        0      1595  Vincent    Shopgirl    3.0
        user_id  movie_id     User   movie_title  value
162000        0       223  Vincent  Broken Arrow    3.0
        user_id  movie_id     User       movie_title  value
432600        0       968  Vincent  How to Be Single    0.0
        user_id  movie_id     User      movie_title  value
469200        0       562  Vincent  Isn't She Great    0.0
    movie_id  weighted_rating
74      1850              5.0
61      1644              5.0
67      1759              5.0
56      1595              5.0
11       223              5.0
31       968              5.0
20       562              5.0
similar users:3
         user_id  movie_id   User movie_title  value
1015801        1         0  Edgar     The Net    0.0
        user_id  movie_id   User  movie_title  value
436201        1       439  Edgar  I Am Legend    0.0
        user_id  movie_id   User movie_title  value
530401        1      1867  Edgar  Lilyhammer    0.0
        user_id  movie_id   User            movie_title  value
685201        1      1711  Edgar  Pocketful of Miracles    0.0
        user_id  movie_id   User         movie_title  value
979201        1      1690  Edgar  The Last Big Thing    0.0
       user_id  movie_id   User         movie_title  value
87601        1      1654  Edgar  As It Is in Heaven    0.0
        user_id  movie_id   User movie_title  value
270001        1      1526  Edgar       Drive    0.0
    movie_id  weighted_rating
0          0              5.0
15       439              5.0
81      1867              5.0
75      1711              5.0
73      1690              5.0
70      1654              5.0
62      1526              5.0
similar users:6
        user_id  movie_id     User                       movie_title  value
790802        2      1847  Addilyn  Sinbad: Legend of the Seven Seas    0.0
        user_id  movie_id     User movie_title  value
664202        2       288  Addilyn      Parker    0.0
         user_id  movie_id     User              movie_title  value
1167002        2      1199  Addilyn  When Harry Met Sally...    0.0
         user_id  movie_id     User     movie_title  value
1100402        2      1166  Addilyn  Three to Tango    0.0
        user_id  movie_id     User        movie_title  value
531602        2      1886  Addilyn  Little Black Book    0.0
        user_id  movie_id     User movie_title  value
760802        2      1248  Addilyn   Secretary    0.0
         user_id  movie_id     User          movie_title  value
1135802        2       985  Addilyn  Up Close & Personal    3.0
     movie_id  weighted_rating
161      1847         4.330127
24        288         4.330127
97       1199         4.330127
91       1166         4.330127
167      1886         4.330127
101      1248         4.330127
81        985         4.330127
similar users:1
        user_id  movie_id    User    movie_title  value
388803        3       252  Marlee  Hang 'Em High    0.0
        user_id  movie_id    User movie_title  value
582603        3      1991  Marlee     Micmacs    0.0
       user_id  movie_id    User movie_title  value
46203        3       130  Marlee       After    0.0
        user_id  movie_id    User    movie_title  value
905403        3      1966  Marlee  The Change-Up    0.0
        user_id  movie_id    User    movie_title  value
844203        3      1960  Marlee  Sweet Charity    0.0
        user_id  movie_id    User      movie_title  value
807603        3       712  Marlee  Spaced Invaders    0.0
        user_id  movie_id    User         movie_title  value
602403        3      1418  Marlee  Mr. Bean's Holiday    0.0
    movie_id  weighted_rating
6        252              2.5
22      1991              2.0
2        130              2.0
21      1966              2.0
20      1960              2.0
8        712              2.0
12      1418              2.0
similar users:3
        user_id  movie_id    User movie_title  value
284404        4      1550  Javier        Edtv    0.0
        user_id  movie_id    User movie_title  value
100804        4      1497  Javier  Bamboozled    0.0
        user_id  movie_id    User         movie_title  value
766204        4       605  Javier  Sex and the City 2    0.0
         user_id  movie_id    User               movie_title  value
1159204        4       756  Javier  Welcome to the Dollhouse    0.0
        user_id  movie_id    User     movie_title  value
609604        4      1076  Javier  Must Love Dogs    0.0
        user_id  movie_id    User movie_title  value
186004        4      1313  Javier   Celebrity    0.0
        user_id  movie_id    User                     movie_title  value
882004        4      1432  Javier  The Best Exotic Marigold Hotel    4.0
    movie_id  weighted_rating
59      1550              5.0
56      1497              5.0
33       605              5.0
37       756              5.0
45      1076              5.0
52      1313              5.0
54      1432              5.0

Test KNN on cleaned data

In [11]:
data_pred = common_movies.loc[common_movies['value']==0]
X_pred = data_pred.drop('value', axis=1)
Y_pred = data_pred['value']

data_rated = common_movies.loc[common_movies['value']>0]

X = data_rated.drop('value', axis=1)
Y = data_rated['value']

Xtrain, Xtest, Ytrain, Ytest = TTS2(X,Y, test_size= .2, random_state=42)

clf = KNeighborsClassifier(n_neighbors=500)
clf.fit(Xtrain,Ytrain)

pred = clf.predict(Xtest)
exact_acc = accuracy_score(Ytest,pred)

bin_rev_real = np.where(Ytest >= 3,1,0)
bin_rev_pred = np.where(pred >=3,1,0)

bin_acc =  sum(a == b for a, b in zip(bin_rev_real, bin_rev_pred)) / len(bin_rev_real)

print(exact_acc)
print(bin_acc)

ValueError: could not convert string to float: 'Lincoln'

In [25]:
for i in range(5):
    unseen_movies = X_pred.loc[X_pred['user_id']==i].copy().reset_index(drop=True)
    unseen_movies.insert(2,'score', clf.predict(unseen_movies))
    unseen_movies.sort_values(by = ['score'], ascending=False, inplace=True)
    print('Recommendations for user '+str(i))
    print(pd.DataFrame(unseen_movies[['user_id','movie_id','score']]).head())
    get_row(df_merge.iloc[:, : 5],i,unseen_movies['movie_id'].head())

Recommendations for user 0
      user_id  movie_id  score
913         0       220    5.0
1272        0      1469    5.0
1644        0       117    5.0
410         0        77    5.0
1279        0       150    5.0
        user_id  movie_id     User movie_title  value
556200        0       220  Vincent     Madison    0.0
        user_id  movie_id     User        movie_title  value
777600        0      1469  Vincent  Shaun of the Dead    0.0
         user_id  movie_id     User  movie_title  value
1009800        0       117  Vincent  The Misfits    0.0
        user_id  movie_id     User movie_title  value
251400        0        77  Vincent  Die Hard 2    0.0
        user_id  movie_id     User        movie_title  value
782400        0       150  Vincent  Shinjuku Incident    0.0
Recommendations for user 1
     user_id  movie_id  score
713        1       191    5.0
927        1      1453    5.0
345        1      1369    5.0
344        1        28    5.0
778        1      1291    5.0
        user_id  movie_id   User movie_title  value
436801        1       191  Edgar   I Am Love    0.0
        user_id  movie_id   User  movie_title  value
567601        1      1453  Edgar  Mary Reilly    0.0
        user_id  movie_id   User          movie_title  value
210601        1      1369  Edgar  Conan the Barbarian    0.0
        user_id  movie_id   User movie_title  value
210001        1        28  Edgar     Con Air    0.0
        user_id  movie_id   User movie_title  value
476401        1      1291  Edgar        Jaws    0.0
Recommendations for user 2
      user_id  movie_id  score
978         2        46    5.0
1661        2      1457    5.0
1647        2       117    5.0
411         2        77    5.0
407         2        41    5.0
        user_id  movie_id     User       movie_title  value
599402        2        46  Addilyn  Moonrise Kingdom    0.0
         user_id  movie_id     User     movie_title  value
1018202        2      1457  Addilyn  The Ninth Gate    0.0
         user_id  movie_id     User  movie_title  value
1009802        2       117  Addilyn  The Misfits    0.0
        user_id  movie_id     User movie_title  value
251402        2        77  Addilyn  Die Hard 2    0.0
        user_id  movie_id     User           movie_title  value
249002        2        41  Addilyn  Diary of a Wimpy Kid    0.0
Recommendations for user 3
      user_id  movie_id  score
1689        3       278    5.0
1663        3      1264    5.0
410         3        41    5.0
409         3        56    5.0
1652        3       117    5.0
         user_id  movie_id    User                   movie_title  value
1032603        3       278  Marlee  The Pirates! Band of Misfits    0.0
         user_id  movie_id    User    movie_title  value
1016403        3      1264  Marlee  The New World    0.0
        user_id  movie_id    User           movie_title  value
249003        3        41  Marlee  Diary of a Wimpy Kid    0.0
        user_id  movie_id    User   movie_title  value
248403        3        56  Marlee  Diamond Ruff    0.0
         user_id  movie_id    User  movie_title  value
1009803        3       117  Marlee  The Misfits    0.0
Recommendations for user 4
      user_id  movie_id  score
982         4        46    5.0
1525        4       200    5.0
534         4       227    5.0
538         4       171    5.0
1546        4      1416    5.0
        user_id  movie_id    User       movie_title  value
599404        4        46  Javier  Moonrise Kingdom    0.0
        user_id  movie_id    User           movie_title  value
931204        4       200  Javier  The Face of an Angel    0.0
        user_id  movie_id    User  movie_title  value
325804        4       227  Javier  Fool's Gold    0.0
        user_id  movie_id    User               movie_title  value
328204        4       171  Javier  For a Good Time, Call...    0.0
        user_id  movie_id    User              movie_title  value
944404        4      1416  Javier  The Godfather: Part III    0.0

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=430916cd-0b84-4120-a50c-61096e15b16a' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>